                               
                        <li class="active">
                            <a >
                                <i class="fa fa-th"></i> <span>Panel Control</span>
                            </a>
                        </li>    
                        <li class="treeview" >
                            <a href="#">
                                <i class="fa fa-user"></i> <span>Administrar Agentes</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">            
                                <li><a href="{{path('supervisor_adm_index_agente')}}"><i class="fa fa-list"></i>Listar</a></li>
                                <li><a href="{{path('supervisor_adm_new_agente')}}"><i class="fa fa-plus"></i>Registrar</a></li>
                           
                                
                            </ul>
                        </li>
                        
                        <li class="treeview" >
                            <a href="#">
                                <i class="fa fa-briefcase"></i> <span>Administrar Agencias</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">            
                                <li><a href="{{path('supervisor_adm_index_agencias')}}"><i class="fa fa-list"></i>Listar</a></li>
                                <li><a href="{{path('supervisor_adm_new_agencia')}}"><i class="fa fa-plus"></i>Adicionar</a></li>
                           
                                
                            </ul>
                        </li>